.button
  border-radius: 4px
  padding-top: $space-xs
  padding-bottom: $space-xs
  padding-right: $space-m
  padding-left: $space-m
  display: inline-block
  color: #fff
  background-color: $color-topaz
  box-shadow: 0 2px 12px rgba(#000, 0.2)

  &.-small
    padding-top: $space-xxs
    padding-bottom: $space-xxs
    padding-right: $space-s
    padding-left: $space-s
