@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 16px;
  background-color: #f7f7f7;
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 400;
  height: 100%;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

section {
  padding-top: 8rem;
  padding-bottom: 8rem;
  padding-left: calc(1rem + 10vw);
  padding-right: calc(1rem + 10vw);
}

p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 1.5rem;
}

@media (min-width: 642px) {
  p {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 2rem;
  }
}

h1, h2, h3, h4 {
  font-family: "Montserrat", "Gotham", Helvetica, sans-serif;
}

body > section {
  position: relative;
  z-index: 2;
}

.navigation-menu {
  background-color: #07c;
  color: #fff;
}

.navigation-menu a {
  color: #fff;
}

.section-hero {
  color: #fff;
  background-color: #07c;
}

.section-features {
  background-color: #fff;
}

.section-features .feature {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.section-pricing {
  padding-bottom: 0;
  color: #fff;
  background-color: #347;
  background-image: linear-gradient(#627aaf, #347);
}

.section-letter {
  background-color: #347;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding-top: 32rem;
}

.section-letter:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 32rem;
  background-image: linear-gradient(#347, transparent);
  pointer-events: none;
  z-index: 3;
}

.section-letter .button {
  position: fixed;
  z-index: 2;
  bottom: calc(1.5rem + 2vw);
  left: 50%;
  transform: translateX(-50%);
}

.section-letter .letter {
  margin: 0 auto;
  width: calc(8rem + 60%);
  padding-bottom: 4rem;
  border-radius: 2px;
  background-color: #fff;
  padding: 6vw;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
}

@media (min-width: 642px) {
  .section-letter .letter {
    max-width: 960px;
    padding-bottom: 8rem;
  }
}

.section-letter .envelope:after, .section-letter .envelope:before {
  content: '';
  display: block;
  width: calc(8rem + 56vw);
  max-width: 100%;
  height: 100vh;
  position: fixed;
  left: 50%;
  bottom: calc(-4vw - 2rem);
  transform: translateX(-50%);
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  pointer-events: none;
}

@media (min-width: 642px) {
  .section-letter .envelope:after, .section-letter .envelope:before {
    max-width: 1024px;
  }
}

@media (min-width: 1441px) {
  .section-letter .envelope:after, .section-letter .envelope:before {
    bottom: calc(-2rem);
  }
}

.section-letter .envelope:after {
  background-image: url("../images/letter-front.png");
}

.section-letter .envelope:before {
  background-image: url("../images/letter-back.png");
  z-index: -1;
}

.button {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  display: inline-block;
  color: #fff;
  background-color: #f75;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s ease;
}

.button.-small {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.button:hover, .button:focus {
  background-color: #f27151;
}

.button:active {
  background-color: #e66b4d;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}
