@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
@import url("https://fonts.googleapis.com/css?family=Crimson+Text:400,400i,600,600i,700,700i");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*:focus {
  outline: none;
}

html {
  font-size: 16px;
  background-color: #f7f7f7;
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 400;
  height: 100%;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

::selection {
  background-color: #ffad99;
}

p {
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 1.5rem;
}

@media (min-width: 961px) {
  p {
    font-size: 20px;
    line-height: 32px;
    margin-bottom: 2rem;
  }
}

h1, h2, h3, h4 {
  font-family: "Montserrat", "Gotham", Helvetica, sans-serif;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

@media (min-width: 961px) {
  h1, h2, h3, h4 {
    margin-bottom: 2rem;
  }
}

h1 {
  font-size: 36px;
  line-height: 48px;
}

@media (min-width: 961px) {
  h1 {
    font-size: 48px;
    line-height: 64px;
  }
}

h2 {
  font-size: 32px;
  line-height: 32px;
}

@media (min-width: 961px) {
  h2 {
    font-size: 36px;
    line-height: 56px;
  }
}

h3 {
  font-size: 20px;
  line-height: 32px;
}

@media (min-width: 961px) {
  h3 {
    font-size: 32px;
    line-height: 48px;
  }
}

h4 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 200;
}

@media (min-width: 961px) {
  h4 {
    font-size: 20px;
    line-height: 32px;
  }
}

body > section,
body > header,
body > footer {
  padding-left: calc(1rem + 10vw);
  padding-right: calc(1rem + 10vw);
  padding-top: 8rem;
  padding-bottom: 8rem;
  position: relative;
  z-index: 2;
}

.navigation-menu {
  padding-left: calc(1rem + 10vw);
  padding-right: calc(1rem + 10vw);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  color: #fff;
  z-index: 3;
  transition: all 0.4s linear;
  height: 16rem;
  background-color: transparent;
}

@media (max-width: 640px) {
  .navigation-menu {
    padding-right: calc(0.5rem + 6vw);
    padding-left: calc(0.5rem + 6vw);
  }
}

.navigation-menu > a {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  color: #fff;
  font-size: 14px;
  line-height: 20px;
  float: right;
}

@media (min-width: 961px) {
  .navigation-menu > a {
    font-size: 16px;
  }
}

.navigation-menu > a:first-child {
  float: left;
  margin-left: 0;
  margin-right: calc(0.5rem + 2vw);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-family: "Montserrat", "Gotham", Helvetica, sans-serif;
  transform-origin: 0 50%;
  transform: scale(1.25) translateY(-50%);
}

@media (min-width: 961px) {
  .navigation-menu > a:first-child {
    transform: scale(1.5) translateY(-50%);
  }
}

@media (min-width: 1025px) {
  .navigation-menu > a:first-child {
    transform: scale(2) translateY(-50%);
  }
}

.navigation-menu > a.link {
  cursor: pointer;
  letter-spacing: 0.05em;
  font-weight: 400;
  padding: 1rem;
}

@media (max-width: 960px) {
  .navigation-menu > a.link {
    padding: 0.5rem;
  }
}

.navigation-menu > a.link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.navigation-menu > a.link:focus {
  background-color: rgba(0, 0, 0, 0.15);
}

.navigation-menu > a.link:active {
  background-color: rgba(0, 0, 0, 0.2);
}

.section-hero {
  padding-top: 16rem;
  padding-bottom: 16rem;
  color: #fff;
  background-color: #07c;
  background-image: url("../images/pattern-blue.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (min-width: 961px) {
  .section-hero:after {
    content: '';
    height: 100%;
    width: 45%;
    position: absolute;
    top: 0;
    background-image: url("../images/mockup-hero.png");
    background-position: center 16rem;
    background-size: contain;
    background-repeat: no-repeat;
    left: 0;
  }
  .section-hero > * {
    margin-left: 45%;
  }
}

.section-features {
  padding-left: calc(0.5rem + 4vw);
  padding-right: calc(0.5rem + 4vw);
  background-color: #fff;
  overflow: hidden;
}

.section-features .feature {
  position: relative;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.section-features .feature > h2 {
  font-size: 32px;
  line-height: 32px;
}

.section-features .feature > p {
  font-size: 18px;
  line-height: 32px;
  color: #999999;
}

.section-features .feature:nth-child(1):after {
  background-image: url("../images/mockup-feature1.png");
}

.section-features .feature:nth-child(2):after {
  background-image: url("../images/mockup-feature2.png");
}

.section-features .feature:nth-child(3):after {
  background-image: url("../images/mockup-feature3.svg");
}

@media (max-width: 960px) {
  .section-features .feature {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .section-features .feature:after {
    content: '';
    height: 60vh;
    width: 100%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
  }
}

@media (min-width: 961px) {
  .section-features .feature {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .section-features .feature:after {
    content: '';
    height: 40rem;
    width: 70%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .section-features .feature:nth-child(odd) {
    padding-right: 55%;
  }
  .section-features .feature:nth-child(odd):after {
    right: -10%;
  }
  .section-features .feature:nth-child(even) {
    padding-left: 55%;
  }
  .section-features .feature:nth-child(even):after {
    left: -10%;
  }
}

.section-pricing {
  color: #fff;
  background-color: #347;
  background-image: linear-gradient(#627aaf, #347);
  text-align: center;
}

.section-pricing > .footnote > p {
  margin-bottom: 1rem;
  font-size: 16px;
  line-height: 16px;
  color: rgba(255, 255, 255, 0.4);
}

.section-pricing > .plans {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

@media (max-width: 960px) {
  .section-pricing > .plans {
    flex-direction: column;
  }
}

.section-pricing > .plans > .plan {
  width: 30%;
}

@media (max-width: 960px) {
  .section-pricing > .plans > .plan {
    width: calc(8rem + 60%);
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
  }
}

.section-pricing > .plans > .plan > .name {
  font-size: 20px;
  line-height: 32px;
  margin-bottom: 1rem;
}

.section-pricing > .plans > .plan > .price {
  font-size: 72px;
  line-height: 72px;
  margin-bottom: 0.5rem;
  font-weight: 800;
}

.section-pricing > .plans > .plan > .note {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 1.5rem;
  color: rgba(255, 255, 255, 0.8);
}

.section-pricing > .plans > .plan > .button {
  margin-bottom: 2rem;
}

.section-pricing > .plans > .plan > .features > li {
  font-size: 18px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 1rem;
}

.section-pricing > .plans > .plan > .features > li:first-child {
  font-weight: 700;
  color: #fff;
}

.section-pricing > .plans > .plan.-soon {
  opacity: 0.6;
}

.section-pricing > .plans > .plan.-soon > .button {
  cursor: default;
  background-color: #5c6992;
}

.section-legal {
  padding: calc(0.5rem + 8vw);
  margin: 4vw 8vw;
  background: white;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4);
}

.section-footer {
  background-color: #fff;
  display: flex;
  box-shadow: 0 0 64px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
  justify-content: space-between;
}

.section-footer > .column {
  width: 25%;
  min-width: 8rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  flex-grow: 1;
}

.section-footer > .column > * {
  display: block;
}

.section-letter {
  background-color: #347;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding-top: 32rem;
  background-image: url("../images/pattern-dark.svg");
  background-repeat: repeat;
  background-position: center center;
  background-size: calc(16rem + 140vw) auto;
}

@media (min-width: 961px) {
  .section-letter {
    background-size: calc(16rem + 120vw) auto;
  }
}

@media (min-width: 1025px) {
  .section-letter {
    background-size: calc(16rem + 100vw) auto;
  }
}

.section-letter .-bold {
  font-weight: 700;
}

.section-letter .-strike {
  text-decoration: line-through;
}

.section-letter:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 32rem;
  background-image: linear-gradient(#347, transparent);
  pointer-events: none;
  z-index: 3;
}

.section-letter > .button {
  position: fixed;
  z-index: 2;
  bottom: calc(1.5rem + 2vw);
  left: 50%;
  transform: translateX(-50%);
}

.section-letter > .letter {
  margin-right: auto;
  margin-left: auto;
  width: calc(8rem + 60%);
  padding-bottom: 4rem;
  border-radius: 2px;
  background-color: #fff;
  padding: 6vw;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  font-family: "Crimson Text", Times, serif;
}

@media (min-width: 961px) {
  .section-letter > .letter {
    max-width: 960px;
    padding-bottom: 8rem;
  }
}

.section-letter > .letter > h1 {
  font-weight: 400;
  color: #07c;
}

.section-letter > .letter > .signature,
.section-letter > .letter > p:last-child {
  text-align: center;
}

.section-letter > .letter > .signature:before {
  content: '';
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: calc(-1vw - 0.5rem);
  height: calc(24px + 3vw);
  width: calc(96px + 12vw);
  background-image: url("../images/signature.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.section-letter > .letter > p:last-child {
  color: rgba(0, 0, 0, 0.4);
}

.section-letter > .letter > p:last-child > a {
  color: inherit;
  text-decoration: none;
  background: -webkit-linear-gradient(currentColor, currentColor);
  background-size: 1px 1px;
  background-repeat: repeat-x;
  text-shadow: 0 0.03em #fff, 0 -0.03em #fff, 0.06em 0 #fff, -0.06em 0 #fff, 0.09em 0 #fff, -0.09em 0 #fff, 0.12em 0 #fff, -0.12em 0 #fff, 0.15em 0 #fff, -0.15em 0 #fff;
  background-position-y: 90%;
  background-position-x: 0%;
}

.section-letter > .letter > p:last-child > a::selection {
  text-shadow: 0.03em 0 #ffad99, -0.03em 0 #ffad99, 0 0.03em #ffad99, 0 -0.03em #ffad99, 0.06em 0 #ffad99, -0.06em 0 #ffad99, 0.09em 0 #ffad99, -0.09em 0 #ffad99, 0.12em 0 #ffad99, -0.12em 0 #ffad99, 0.15em 0 #ffad99, -0.15em 0 #ffad99;
  background: #ffad99;
}

.section-letter > .letter > p:last-child > a::-moz-selection {
  text-shadow: 0.03em 0 #ffad99, -0.03em 0 #ffad99, 0 0.03em #ffad99, 0 -0.03em #ffad99, 0.06em 0 #ffad99, -0.06em 0 #ffad99, 0.09em 0 #ffad99, -0.09em 0 #ffad99, 0.12em 0 #ffad99, -0.12em 0 #ffad99, 0.15em 0 #ffad99, -0.15em 0 #ffad99;
  background: #ffad99;
}

.section-letter > .letter > p:last-child > a:before, .section-letter > .letter > p:last-child > a:after, .section-letter > .letter > p:last-child > a *, .section-letter > .letter > p:last-child > a *:before, .section-letter > .letter > p:last-child > a *:after {
  text-shadow: none;
}

.section-letter > .letter > p:last-child > a:visited {
  color: inherit;
}

.section-letter > .letter > p:last-child > a, .section-letter > .letter > p:last-child > a:visited {
  color: #f75;
}

.section-letter > .letter > p:last-child > a:hover, .section-letter > .letter > p:last-child > a:focus, .section-letter > .letter > p:last-child > a:active {
  color: #e66b4d;
}

.section-letter > .envelope:after, .section-letter > .envelope:before {
  content: '';
  display: block;
  width: calc(8rem + 56vw);
  max-width: 100%;
  position: fixed;
  left: 50%;
  top: 0;
  bottom: calc(-4vw - 2rem);
  transform: translateX(-50%);
  background-size: 100% auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  pointer-events: none;
}

@media (min-width: 961px) {
  .section-letter > .envelope:after, .section-letter > .envelope:before {
    max-width: 1024px;
  }
}

@media (min-width: 1921px) {
  .section-letter > .envelope:after, .section-letter > .envelope:before {
    bottom: calc(-2rem);
  }
}

.section-letter > .envelope:after {
  background-image: url("../images/letter-front.png");
}

.section-letter > .envelope:before {
  background-image: url("../images/letter-back.png");
  z-index: -1;
}

.cta-page {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 4;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
  overflow: scroll;
}

.cta-page > .container {
  transform: scale(0.4) translateY(-50%);
  position: absolute;
  top: 50%;
  right: 8vw;
  left: 8vw;
  padding: 8vh 8vw;
  background-color: #fff;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  text-align: center;
}

.cta-page > .container > h1 {
  color: #07c;
  font-weight: 600;
}

.cta-page > .container > .button {
  display: inline-block;
  margin: 1rem;
  margin-bottom: 0;
}

@media (max-width: 640px) {
  .cta-page > .container > .button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    font-size: 16px;
    line-height: 20px;
  }
}

.cta-page > .container > #close-cta {
  width: 2rem;
  height: 2rem;
  display: block;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  text-indent: -9999px;
  cursor: pointer;
  border-radius: 50%;
  transform: rotate(45deg);
}

.cta-page > .container > #close-cta:hover {
  background-color: #e2e2e2;
}

.cta-page > .container > #close-cta:focus {
  background-color: #d6d6d6;
}

.cta-page > .container > #close-cta:active {
  background-color: #cacaca;
}

.cta-page > .container > #close-cta:before, .cta-page > .container > #close-cta:after {
  content: '';
  width: 3px;
  height: 1.5rem;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #999;
  transform: translate(-50%, -50%);
}

.cta-page > .container > #close-cta:after {
  height: 3px;
  width: 1.5rem;
}

.-open-cta {
  overflow: hidden;
}

.-open-cta .cta-page {
  opacity: 1;
  pointer-events: auto;
}

.-open-cta .cta-page > .container {
  transform: scale(1) translateY(-50%);
}

.button {
  display: inline-block;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.2s ease;
  font-weight: 500;
  letter-spacing: 0.05em;
  text-align: center;
  border: none;
  outline: none;
  color: #fff;
  background-color: #f75;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
  font-size: 20px;
  line-height: 24px;
}

.button:hover {
  background-color: #f27151;
}

.button:focus {
  background-color: #e66b4d;
}

.button:active {
  background-color: #d96548;
}

.button.-cancel {
  color: #fff;
  background-color: #ccc;
}

.button.-cancel:hover {
  background-color: #c2c2c2;
}

.button.-cancel:focus {
  background-color: #b8b8b8;
}

.button.-cancel:active {
  background-color: #adadad;
}

.button.-small {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-size: 16px;
  line-height: 20px;
}

.button.-tiny {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 14px;
  line-height: 16px;
}

.button:focus {
  box-shadow: 0 3px 11px rgba(0, 0, 0, 0.3);
}

.button:active {
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4);
}
