.section-letter
  background-color: $color-darksaphire
  position: relative
  overflow: hidden
  z-index: 1
  padding-top: $space-xxl + $space-xxl

  &:after
    content: ''
    position: absolute
    top: 0
    right: 0
    left: 0
    height: $space-xxl + $space-xxl
    background-image: linear-gradient($color-darksaphire, transparent);
    pointer-events: none
    z-index: 3

  .button
    position: fixed
    z-index: 2
    bottom: calc(#{$space-s} + 2vw)
    left: 50%
    transform: translateX(-50%)

  .letter
    margin: 0 auto
    width: calc(#{$space-xl} + 60%)
    padding-bottom: $space-l
    border-radius: 2px
    background-color: #fff
    padding: 6vw
    box-shadow: 0 4px 16px rgba(#000, 0.2)

    +medium-up
      max-width: 960px
      padding-bottom: $space-xl

  .envelope
    &:after,
    &:before
      content: ''
      display: block
      width: calc(#{$space-xl} + 56vw)
      max-width: 100%
      height: 100vh
      position: fixed
      left: 50%
      bottom: calc(-4vw - #{$space-m})
      transform: translateX(-50%)
      background-size: 100% auto
      background-position: center bottom
      background-repeat: no-repeat
      pointer-events: none
    
      +medium-up
        max-width: 1024px

      +huge-up
        bottom: calc(-#{$space-m})

    &:after
      background-image: url("../images/letter-front.png")
    &:before
      background-image: url("../images/letter-back.png")
      z-index: -1
