.section-footer
  background-color: #fff
  box-shadow: 0 0 64px rgba(#000, 0.2)
  display: grid
  grid-template-columns: 1fr 1fr
  +medium-up
    grid-template-columns: 1fr 1fr 1fr 1fr

  > .column
    padding-right: $space-s
    padding-left: $space-s
    > *
      display: block
