p
  font-size: $font-size-centi
  line-height: $line-height-centi
  margin-bottom: $space-s

  +medium-up
    font-size: $font-size-base
    line-height: $line-height-base
    margin-bottom: $space-m

h1, h2, h3, h4
  font-family: $font-family-headings