html
  font-size: 16px
  background-color: hsl(0, 0%, 97%)
  font-family: $font-family-body
  font-weight: 400
  height: 100%

a
  text-decoration: none

*:before
*:after
*
  box-sizing: border-box
  -moz-box-sizing: border-box
  -webkit-box-sizing: border-box

section
  padding-top: $space-xl
  padding-bottom: $space-xl
  padding-left: calc(#{$space-xs} + 10vw)
  padding-right: calc(#{$space-xs} + 10vw)